<div class="detail">
  <p>Este es el item a borrar</p>
  <img src="{{itemImageUrl}}" alt="{{item.name}}" [style.display]="displayNone">
  <span [style.text-decoration]="lineThrough">{{ item.name }}
  </span>
  <button type="button" (click)="delete()">Delete</button>
</div>


