<!--<h1 class="bg-info text-center"> Esto es una prueba</h1>-->
<!--<app-ejemplo1></app-ejemplo1>-->
<app-ejemplo1></app-ejemplo1>
<h2>Asociar una imagen a una variable del componente</h2>
<img [src]="itemImageUrl">
<hr/>
<h2>Ejemplo de inyección de datos de un padre a un hijo</h2>
<app-fillinjectat [childItem]="ItemPadre"></app-fillinjectat>
<app-fillinjectat childItem="Qualsevol valor"></app-fillinjectat>
<br>
<hr/>
<button type="button" (click)="onclick($event,1)">Get</button>
<p>{{valorp}}
  <br/>
  <button type="button" (click)="onclick($event,2)">Get2</button>
<p [innerHTML]="valorp2">

</p><hr>

<h3>Exemple de databinding 2 camins</h3>
<div id="two-way-1">
  <app-cambiotamano [(size)]="fontSizePx"></app-cambiotamano>
  <div [style.font-size.px]="fontSizePx">Canvi de tamany del text</div>
  <label>Tamany font (px): <input [(ngModel)]="fontSizePx"></label>
</div>
<hr />
<app-borrarcosa (deleteRequest)="deleteItem($event)" [item]="currentItem"></app-borrarcosa>

<hr />
<blockquote>
  <div *ngIf="hero" class="name">{{hero.name}}</div>
</blockquote>
<p>Lista de cracs</p>
<ul>
  <li *ngFor="let hero of heroes"> Nombre:{{hero.name}} Emoción:{{hero.emotion}}
  </li>
</ul>
<hr />

<ul>
  <li routerLink="/Ruta1">Exemplo Ruta1</li>
  <li routerLink="/Ruta2">Exemplo Ruta2</li>

</ul>
<router-outlet></router-outlet>


<div>
  <h2>Ejemplo de variable</h2>
  <p>Mira la consola la variable</p>
  <input #phone placeholder="phone number" />

  <!-- lots of other elements -->

  <!-- phone refers to the input element; pass its `value` to an event handler -->
  <button type="button" (click)="callPhone(phone.value)">Call</button>
</div>

<button type="button" (click)="connectBD1()">ConnectBD 1</button> <br/>
<app-ex-form></app-ex-form>
<app-ex-form2></app-ex-form2>
<br/>
