Register Form:

<form [formGroup]="formgrup" #formDir="ngForm">
  <input type="email" id="nombre" name="nombre" placeholder="nombre" formControlName="nombre" required><br/>
  <div *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)" class = "alert alert-danger">
    <div *ngIf="nombre?.errors?.['required']">
      El nombre se tiene que mostrar!!!
    </div>
    <div *ngIf="nombre?.errors?.['email']">
      No tiene un formato de correo!!!
    </div>
    <div *ngIf="nombre?.errors?.['minlength']">
      El nombre tiene que tener una longitud minima de 5 dígitos (caracteres).
    </div>
  </div>
  <input type="password" id="password" name="password" placeholder="password" formControlName="password" required><br/>
  <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class = "alert alert-danger">
    <div *ngIf="password?.errors?.['required']">
      El password se tiene que mostrar!!!
    </div>

    <div *ngIf="password?.errors?.['minlength']">
      El password tiene que tener una longitud minima de 3 dígitos (caracteres).
    </div>
    <div *ngIf="password?.errors?.['passwordStrength']">
      La contraseña tiene que tener mayúsculas, minúsculas y números
    </div>
  </div>
  <button type="button" [disabled]="!formgrup.valid" (click)="dale()">Dale fuerte!</button>

</form>
<form [formGroup]="insertForm" #formDir="ngForm">
  <input type="text" id="nom" name="nom" placeholder="nom" formControlName="nom" required><br/>
  <input type="number" name="pegy" placeholder="Pegy" formControlName="pegy" required>
  <br/>
  <input type="number" name="preu" placeholder="Preu" formControlName="preu" required>
  <br/>
  <button type="button" (click)="Insert()">Insert!</button><br/>
<!--  <button type="button" (click)="updateName4()">Update!</button><br/>-->
</form>




